

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace group.admin easyadmin allow

add_principal identifier.license:3ab8fd5639df1f498ebc30cffa40dcf42299a45e group.superadmin  #mjal



